<mat-toolbar color="primary" id="navbar">

  <mat-toolbar-row>
    <span class="cursor" (click)="redirectToHome()">
      Karate Federacija Srbije
    </span>
    <span id="add-contestant" class="cursor add-contestant" (click)="addContestant()"> Dodaj Takmicara</span>
    <span id="add-new-club" class="cursor add-new-club" (click)="addNewClub()"> Dodaj Novi Klub</span>
    <span class="example-spacer"></span>
    <label class="cursor pr" (click)="logIn()" *ngIf="!userIsLoggedIn">Prijava</label>
    <label class="cursor pr" (click)="logOut()" *ngIf="userIsLoggedIn">Odjava </label>
  </mat-toolbar-row>
</mat-toolbar>