.club-container {
    border: 2px solid rgb(136, 113, 219);
    border-radius: 12px;
    width: 550px;
    height: 663px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(212, 207, 235);
}

.club-picture {
    width: 548px;
    height: 400px;
    border: 2px solid rgb(136, 113, 219);
    border-radius: 12px;
}

.text-center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
}

.buttons-length {
    width: 95%;
    margin: 15px;
}

