<div class="container">
    <div class="login-form">
        <div class="username-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite Vase Korisnicko Ime</mat-label>
                <input [(ngModel)]="userName" matInput placeholder="korisnicko-ime-27-06-2021">
            </mat-form-field>
        </div>
        <div class="password-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite Vasu Sifru</mat-label>
                <input [(ngModel)]="password" matInput placeholder="moja-sifra-1295">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button class="button-primary" (click)="login()" mat-raised-button color="primary">Ulogujte se</button>
            <div class="registruj-se-label-container">
                <label>Ukoliko nemate nalog, mozete se<label (click)="redirectToRegister()" class="registruj-se-label">
                    registrovati</label></label></div>
        </div>
    </div>
</div>