<div class="container">
    <div class="login-form">
        <div class="username-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite korisnicko ime</mat-label>
                <input id="username" [(ngModel)]="userName" matInput placeholder="korisnicko-ime-27-06-2021">
            </mat-form-field>
        </div>
        <div class="name-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite ime</mat-label>
                <input id="name" [(ngModel)]="name" matInput placeholder="vase-ime">
            </mat-form-field>
        </div>
        <div class="lastname-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite prezime</mat-label>
                <input id="lastname" [(ngModel)]="lastName" matInput placeholder="vase prezime">
            </mat-form-field>
        </div>

        <div class="name-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite email</mat-label>
                <input id="email" [(ngModel)]="email" matInput placeholder="email@gmail.com">
            </mat-form-field>
        </div>

        <div class="password-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite sifru</mat-label>
                <input id="password" [(ngModel)]="password" matInput placeholder="vasa-sifra">
            </mat-form-field>
        </div>
        <div class="password-container">
            <mat-form-field class="full-width">
                <mat-label>Ponovite sifru</mat-label>
                <input id="repeat-password" [(ngModel)]="repeatPassword" matInput placeholder="ponovite-sifru">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button id='register-button' class="button-primary" (click)="register()" mat-raised-button color="primary">
                Registrujte se
            </button>
        </div>
    </div>
</div>